extends layout

block content
  h1= title
  h2 #{'main page'}
  p Welcome to #{title}
    br
    a(href='register')
      button(class='btn btn-primary') register
    a(href='login')
      button(class='btn btn-primary') login
    a(href='logout')
      button(class='btn btn-primary') logout
      br      
      br
  div(class='container')
    br
    a(href='apples')
      button(class='btn btn-primary') apples
    br
    br
    a(href='balls') 
      button(class='btn btn-primary') balls
    br
    br
    a(href='books') 
      button(class='btn btn-primary') books
    br
    br
    a(href='cats') 
      button(class='btn btn-primary') cats
    br
    br
    a(href='chairs') 
      button(class='btn btn-primary') chairs
    br
    br
    a(href='crowns') 
      button(class='btn btn-primary') crowns
    br
    br
    a(href='eggs') 
      button(class='btn btn-primary') eggs
    br
    br
    a(href='horses') 
      button(class='btn btn-primary') horses
    br
    br
    a(href='items') 
      button(class='btn btn-primary') items
    br
    br
    a(href='papers') 
      button(class='btn btn-primary') papers
    br
    br
    a(href='products') 
      button(class='btn btn-primary') products
    br
    br
    a(href='shirts') 
      button(class='btn btn-primary') shirts
    br
    br
    a(href='tickets') 
      button(class='btn btn-primary') tickets
